table, th, td{
    border-style: solid;
    border-color: rgb(163, 0, 0);
}
table{
    border-collapse: collapse;
    width: 35%;

}
th{
    height: 35%;

}
td, th{
    padding: 10px;
    background-color: rgb(3, 182, 12);
    color: rgb(92, 20, 175);
}
tfoot{
    font-weight: bold;
    color: rgb(80, 255, 89);
}
ul{
    list-style-image: url(BlueDot.png);
    list-style-position: inside;
    cursor: text;
}
html{
    cursor: url(cohete.png),auto;
}
img{
    position: absolute;
    right: 50px;
    top: 50px;
    width: 300px;
    z-index: 1;
    filter: contrast(45%);
}